{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4">Set New Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {% if field.widget_type == 'password' %}
                                    <input type="password" name="{{ field.html_name }}" class="form-control" required id="{{ field.id_for_label }}">
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.errors %}
                                    <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Set New Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}