{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/logo.png' %}">

    {% block meta %}

    {% endblock meta %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert/all.min.css' %}">





    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/home/base.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>

    <script src="{% static 'js/bootstrap/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert2@11.js' %}"></script>
    <script src="{% static 'js/carts/cartAuth.js' %}"></script>




</head>

<body>



    {% include 'navbar/navbar.html' %}
    <!-- navbar end -->
    <div class="nav-top"></div>
    {% block content %}


    {% endblock content %}

    <!-- Footer start -->
     {% include 'footer/footer.html' %}




    <!-- Footer end -->
    {% block js %}

    {% endblock js %}


</body>

</html>