{% extends 'base.html' %}
{% load static %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
<style>
/* Hide the up and down arrows in number input fields */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-input {
    width: 70px;
    text-align: center;
    margin: 0 5px;
}

.cart-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cart-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 100%; /* Ensure the card takes up full height of its container */
}

.card img {
    max-height: 90px;
    max-width: 200px;
    object-fit: contain;
    margin-top: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1; /* Take up remaining space */
    align-self: stretch; /* Ensure consistent height */
}

/* Responsive design */
@media (max-width: 575px) { /* For phones */
    .cart-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card {
        flex-direction: row;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .card img {
        width: 40%;
        height: auto;
        max-height: none; /* Allow height to adjust with width */
        max-width: none;  /* Allow width to be 40% */
        margin-top: 0;
    }
    .card-body {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        margin-left: 10px;
        width: 60%; /* Take the remaining width */
    }
}

@media (min-width: 576px) and (max-width: 991px) { /* For tablets */
    .cart-item {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (min-width: 992px) { /* For desktops */
    .cart-item {
        flex: 1 1 calc(33.333% - 1rem);
    }
}


</style>

<div class="container mt-5">
    <h1>My Shopping Cart</h1>

    <div id="cart-message"></div>
    <div id="cart-items" class="row">
        <!-- Cart items will be dynamically inserted here -->
    </div>
    <div id="cart-total" class="row text-right" style="display: none;">
        <div class="col-12">
            <h3 class="text-danger">Total: $<span id="total-price"></span></h3>
            <a href="{% url 'orders:confirm_address' %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</div>

<script src="{% static 'js/carts/cartAuth.js' %}"></script>

{% endblock content %}