{% load static %}
<style>
    i.footer-icon{
        font-size: 40px;
        margin:1rem 1rem;
        color: var(--main-color);
        transition: 0.3s ease;
    }
    i.footer-icon:hover{
        color: var(--third-color);
    }
</style>
<!-- Footer start -->
{% if footer %}

<footer>
    <div class="footer">
        <img src="{% static 'img/logo/logo.png' %}" alt="Logo" height="120" class="footer-logo">
        <h2>Angkor Empire Shop</h2>
        <div class="social-icons">
            {% for social in footer.social_media.all %}
                <a href="{{ social.url }}" class="logo-social-media" title="{{ social.platform }}" target="_blank" rel="noopener noreferrer">
                    <i class="{{ social.icon_class }} footer-icon" aria-hidden="true"></i>
                    <span class="sr-only">{{ social.platform }}</span>
                </a>
            {% endfor %}
        </div>
        {% if footer.phone_number %}
            <p>Contact: {{ footer.phone_number }}</p>
        {% endif %}
        <p class="copy-right">{{ footer.copyright_text }}</p>
    </div>
</footer>
{% endif %}