
{% load static %}
<!-- Footer  start-->
<footer>
    <div class="footer">
        <img src="{% static 'img/logo/logo.png' %}" alt="Logo" height="120" class="footer-logo">
        <h2>Angkor Empire Shop</h2>
        <div class="social-icons">
            <a href="https://facebook.com" class="logo-social-media"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com" class="logo-social-media"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://youtube.com" class="logo-social-media" <i class="fa-brands fa-youtube"></i></a>
            <a href="https://telegram.com" class="logo-social-media"><i class="fa-brands fa-telegram"></i></a>
        </div>
        <p>Contact: +855 888026678</p>
        <p class="copy-rigth">&copy; 2023 Angkor Empire Computer Shop. All rights reserved.</p>
    </div>
</footer>