{% extends 'dashboard_base.html' %}

{% block content %}

<h2>Assign Orders to Delivery Staff</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.orders.label_tag }}
        {{ form.orders }}
        {{ form.orders.errors }}
    </div>
    <div class="form-group">
        {{ form.delivery_staff.label_tag }}
        {{ form.delivery_staff }}
        {{ form.delivery_staff.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Assign Orders</button>
</form>
{% endblock %}