{% extends 'dashboard_base.html' %}

{% block content %}
<h1 class="mb-4">Edit Delivery Staff</h1>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock content %}
