{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}
Dashboard | Order
{% endblock title %}

{% block content %}


<div class="">
    <h2>Order History</h2>
    <div class="status-buttons">
        <a href="{% url 'dashboard:order' %}?status=Pending"
            class="btn {% if status_filter == 'Pending' %}btn-warning{% else %}btn-secondary{% endif %}">Pending</a>
        <a href="{% url 'dashboard:order' %}?status=Completed"
            class="btn {% if status_filter == 'Completed' %}btn-success{% else %}btn-secondary{% endif %}">Completed</a>
        <a href="{% url 'dashboard:order' %}?status=Cancelled"
            class="btn {% if status_filter == 'Cancelled' %}btn-danger{% else %}btn-secondary{% endif %}">Cancelled</a>
    </div>
</div>
{% if not status and not search and not start_date and not end_date %}
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ query_params }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}&{{ query_params }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}&{{ query_params }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ query_params }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endif %}


<form method="get" class="mb-3">
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Search by user, ID, price, or address" value="{{ search }}">
        </div>
        <div class="col-md-4">
            <select name="status" class="form-control">
                <option value="">All Statuses</option>
                {% for status in OrderStatus %}
                    <option value="{{ status }}" {% if status == status_filter %}selected{% endif %}>
                        {{ status.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select name="sort_by" class="form-control">
                <option value="">Default Sorting</option>
                <option value="-ordered_date" {% if sort_by == '-ordered_date' %}selected{% endif %}>Latest First</option>
                <option value="ordered_date" {% if sort_by == 'ordered_date' %}selected{% endif %}>Oldest First</option>
                <option value="total_price" {% if sort_by == 'total_price' %}selected{% endif %}>Price Low to High</option>
                <option value="-total_price" {% if sort_by == '-total_price' %}selected{% endif %}>Price High to Low</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="date" name="start_date" class="form-control" value="{{ start_date }}">
        </div>
        <div class="col-md-4">
            <input type="date" name="end_date" class="form-control" value="{{ end_date }}">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{% url 'dashboard:order' %}" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Ordered Date</th>
            <th>Total Price</th>
            <th>By</th>
            <th>From</th>
            <th>Status</th>
            <th>QR Code</th>
            {% if order_histories and order_histories.0.status == "Pending" %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if order_histories %}
        {% for order_history in order_histories %}
        <tr class="clickable-row" data-href="{% url 'dashboard:order_detail' order_history.id %}">
            <td class="font-weight-bold text-danger">#{{ order_history.id }}</td>
            <td>{{ order_history.ordered_date }}</td>
            <td>${{ order_history.total_price }}</td>
            <td>{{ order_history.user }}</td>
            <td>
                {% if order_history.order_address %}
                    {{ order_history.order_address.address1 }}, 
                    {% if order_history.order_address.address2 %}
                        {{ order_history.order_address.address2 }},
                    {% endif %}
                    {{ order_history.order_address.city }}, 
                    {{ order_history.order_address.province }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ order_history.get_status_display }}</td>
            <td>
                {% if order_history.qr_code %}
                <img src="{{ order_history.qr_code.url }}" alt="QR Code" width="60" class="img-fluid">
                {% endif %}
            </td>
            {% if order_history.status == "Pending" %}
            <td>
                <form method="post" action="{% url 'dashboard:order_status_update' order_history.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="Completed">
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                </form>
                <form method="post" action="{% url 'dashboard:order_status_update' order_history.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="Cancelled">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="8">No orders found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% if not search and not status and not start_date and not end_date and not sort_by %}
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endif %}

{% endblock content %}

{% block js %}
<script src="{% static 'js/dashboard/Order.js' %}"></script>
{% endblock js %}