<style>

</style>
<div id="products-container" class="container product-container"></div>
<script>
    async function fetchData() {
        try {
            let brandsResponse = await fetch('/api/brands/');
            let laptopSpecsResponse = await fetch('/api/laptop-specs/');
            let brands = await brandsResponse.json();
            let laptopSpecs = await laptopSpecsResponse.json();

            let container = document.getElementById('products-container');
            container.innerHTML = '';

            brands.forEach(brand => {
                let brandSection = document.createElement('div');
                brandSection.id = brand.slug;
                brandSection.innerHTML = `
                    <div class="text-center mt-5 mb-3 bg-light p-3 border rounded">
                        <img src="${brand.logo}" width="120" class="img-fluid" />
                    </div>
                    <div class="row" id="${brand.slug}-products">
                    </div>
                `;
                container.appendChild(brandSection);

                let brandProducts = laptopSpecs.filter(spec => spec.product.brand.id === brand.id);

                let productsContainer = document.getElementById(`${brand.slug}-products`);
                if (brandProducts.length === 0) {
                    console.warn(`No products found for brand ${brand.name}`);
                }

                brandProducts.forEach(spec => {
                    let productImage = spec.product.images.length > 0 ? spec.product.images[0].image : '/static/placeholder_image.jpg';
                    let gpuDetails = spec.gpu.map(gpu => `${gpu.gpu_brand.name} ${gpu.model}`).join(', ');

                    let productCard = document.createElement('div');
                    productCard.className = 'product-card-wrapper col-6 col-md-3';
                    productCard.innerHTML = `
                        <div class="product-card">
                            <img src="${productImage}" alt="${spec.product.name}">
                            <h4>${spec.product.name} ${spec.product.model} ${spec.product.year}</h4>
                            <p><strong></strong> ${spec.cpu.cpu_brand.name} ${spec.cpu.model} | ${gpuDetails} | ${spec.storage.capacity}${spec.storage.capacity_type} ${spec.memory.capacity}GB</p>
                            <h3 class="text-danger">$${spec.product.price}</h3>
                            <a href="/products/${spec.slug}/" class="btn btn-primary see-more-btn"><i class="fa-solid fa-eye"></i></a>
                        </div>
                    `;
                    
                    
                    
                    productsContainer.appendChild(productCard);
                });
            });
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', fetchData);
</script>
