{% extends 'base.html' %}
{% load static %}
{% block title %}
Products
{% endblock title %}

{% block content %}


{% include 'products/ads.html' %}

<div class="mt-5">
    <!-- List of laptop brands -->
    {% include 'products/brands.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'search/search_product.html' %}
            </div>
        </div>
    {% include 'filter/filter_products.html' %}

    </div>

        
    {% include 'products/list_laptop.html' %}

</div>



{% endblock content %}