<!-- ads.html -->
<div class="container my-4">
    <div class="row">
        {% for ad in advertisements %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if ad.image %}
                <img src="{{ ad.image.url }}" alt="{{ ad.title }}" width="1000">
                {% else %}
                <div class="missing-image-placeholder">
                    No Image Available
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.description }}</p>
                    {% if ad.link %}
                    <a href="{{ ad.link }}" class="btn btn-primary">Learn More</a>
                    {% endif %}
                </div>
                <p>Image URL: {{ ad.image.url }}</p> <!-- Debug line to check image URL -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
